<html>
<head>
	<title>developer test page</title>
</head>
<body>
	<p>POST:</p>
	<hr>
	<div>
		<form enctype="multipart/form-data" action="/login" method="post" >
			<input type="text" value="User Id" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'User Id';}" name='username'>
			<input type="password" value="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'password';}" name='password' >
			<input type="submit" value="Login" >
		</form>
	</div>
	<br><br><br>
	<p>GET:</p>
	<hr>
	<p><a href="#">forgot Password</a></p>
	<p><a href="/">index</a></p>
	<p><a href="/regeister">regeister</a></p>
	<p><a href=""></a></p>

</body>
</html>